<style type="text/css">
  #banner{
    background:url(<%= BUILD_FILE.images['newsBanner'] %>) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<section>
  <main>
    <div>
      <nav class="breadCrumbs">
        <i class="icon-locationIcon"></i>
        位置：
        <a href="#">新闻中心&gt;&gt;</a>
        <a href="#">安装新风机是现代家居新标配，新风机将普及到家家户户</a>
      </nav>
      <h3><span>2017-08-11</span></h3>
      <p></p>
      <div><img src="<%= BUILD_FILE.images[''] %>" alt=""></div>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <aside>

    </aside>
  </main>
</section>