<style type="text/css">
  #banner{
    background:url(<%= BUILD_FILE.images['newsBanner'] %>) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<section>
  <main>
    <div class="content">
      <nav class="bread-crumbs">
        <i class="icon-locationIcon"></i>
        位置：
        <a href="#">新闻中心&gt;&gt;</a>
        <a href="#">安装新风机是现代家居新标配，新风机将普及到家家户户</a>
      </nav>
      <h3>安装新风机是现代家居新标配，新风机将普及到家家户户<span>2017-08-11</span></h3>
      <p>
        新风机有三个基本的功能让你自由呼吸<br/>
        第一个是通风，这个不言而喻，是最基本的功能；<br/>
        第二个功能是热回收，就是把进入室内的新鲜空气和室内要排出的污浊空气之间进行能量交换，让污浊空气排出的同时能量却留了下来。通过热回收，送入室内的新鲜空气的温度接近室内温度，体感舒适，并且运行经济，节能环保；<br/>
      </p>
      <div><img src="<%= BUILD_FILE.images['newsDetail'] %>" alt=""></div>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <aside>

    </aside>
  </main>
</section>