<style type="text/css">
  #banner{
    background:url(<%= BUILD_FILE.images['proBanner'] %>) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<section>
  <main>
    
  </main>
</section>
  <aside>
    <nav>

    </nav>
  </aside>
  <div class="list-items">
    <ul>
      <li>
        <dl>
          <dt><img src="<%= BUILD_FILE.images['proProduct1'] %>" alt="家用壁挂式新风系统"></dt>
          <dd>家用壁挂式新风系统</dd>
          <dd><a href="#" title="家用壁挂式新风系统">快速报价</a></dd>
        </dl>
      </li>
    </ul>
    <div class="pagination">

    </div>
  </div>
  